@model NasaImagesDemo.ViewModels.ApodImageCreateViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row justify-content-around m-3">
    <div class="col-sm-8">
        <div class="card-header">
            <h1>@ViewBag.Title.</h1>
        </div>
        <div class="card-body text-center">
            <img class="card-img-top" src "awttwuetrgtewfdshhggfdsfsfdg" />
            <h4>     @Model.date           </h4>
            <h4>     @Model.explanation           </h4>
            <h4>     @Model.PhotoUrl          </h4>
        </div>
        <div class="card-footer text-center">

        </div>


    </div>


</div>